.container {
  max-width: 335px;
  width: 100%;
  padding: 24px 0 44px;
  margin: 0 auto;
}

.listNews {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.imageWrapper {
  border-radius: 15px;
  max-width: 335px;
  width: 100%;
  height: 190px;
  overflow: hidden;
  margin-bottom: 20px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.03em;
  margin-bottom: 12px;
}

.text {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  max-height: 80px;
  margin-bottom: 19px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.dateAndLink {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.date {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: rgba(38, 38, 38, 0.5);
}

.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--orange);
}

/* ======= for Tablet screen ======= */

@media screen and (min-width: 768px) {
  .container {
    max-width: 704px;
    padding: 44px 0 60px;
  }

  .listNews {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px 24px;
  }

  .newsItem {
    flex-basis: calc((100% - 24px) / 2);
  display: flex;
  flex-direction: column;
  }

  .imageWrapper {
    max-width: 340px;
    height: 226px;
    margin-bottom: 28px;
  }

  .title {
    font-size: 20px;
    line-height: 130%;
    letter-spacing: -0.03em;
    margin-bottom: 14px;
  }

  .text {
    font-size: 16px;
    line-height: 125%;
    margin-bottom: 28px;
  }

  .dateAndLink {
  margin-top: auto;
}

  .date {
    font-size: 16px;
    line-height: 125%;
    color: rgba(38, 38, 38, 0.5);
  }

  .link {
    font-size: 16px;
    line-height: 125%;
  }
}

/* ======= for Desktop screen ======= */

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1153px;
    padding: 60px 0;
  }

  .listNews {
    gap: 40px 35px;
  }

  .newsItem {
    flex-basis: calc((100% - 35px * 2) / 3);
  }

  .imageWrapper {
    max-width: 361px;
    height: 226px;
  }
}
