.container {
  max-width: 375px;
  width: 100%;
  padding: 10px 20px 0;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f6b83d;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 18px 20px 60px;
}

.logo {
  display: flex;
  align-items: flex-end;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.04em;
  color: #fff;
}

.iconHeart {
  width: 17px;
  height: 17px;
  fill: #fff;
}

.navigation {
  display: none;
}

.iconMenu {
  width: 32px;
  height: 32px;
  stroke: #fff;
}

.menuButton {
  background: transparent;
  border: none;
  cursor: pointer;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 300ms ease,
    visibility 300ms ease;
  z-index: 999;
}

.overlayOpen {
  opacity: 1;
  visibility: visible;
}

.mobileMenu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 218px;
  height: 100vh;
  background-color: var(--white);
  padding: 28px 20px 40px;
  transition: right 300ms ease;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 176px;
}

.mobileMenuOpen {
  right: 0;
}

.closeButton {
  align-self: flex-end;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.iconClose {
  width: 32px;
  height: 32px;
  fill: var(--main);
}

.mobileList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.mobileNav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mobileNavItem {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main);
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  border: 1px solid rgba(38, 38, 38, 0.15);
  border-radius: 30px;
  width: 119px;
  height: 48px;
  margin: 0 auto;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobileNavItem:hover,
.mobileNavItem:focus {
  border-color: #f6b83d;
}

.mobileAuth {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.mobileAuthLogin {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fff;
  background: #f6b83d;
  border-radius: 30px;
  width: 100%;
  height: 42px;
  transition:
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobileAuthLogin:hover,
.mobileAuthLogin:focus {
  color: #f6b83d;
  background-color: #fff4df;
}

.mobileAuthRegistr {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #f6b83d;
  background: #fff4df;
  border-radius: 30px;
  width: 100%;
  height: 42px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobileAuthRegistr:hover,
.mobileAuthRegistr:focus {
  background-color: #fbe7c1;
}

/* ======= for Tablet screen ======= */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 16px 32px 0;
  }

  .header {
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    padding: 16px 32px 112px;
  }

  .logo {
    font-size: 28px;
  }

  .iconHeart {
    width: 23px;
    height: 23px;
  }

  .iconMenu {
    width: 36px;
    height: 36px;
  }

  .mobileMenu {
    width: 374px;
    padding: 39px 32px 40px;
    gap: 294px;
  }

  .iconClose {
    width: 36px;
    height: 36px;
  }

  .mobileNavItem {
    font-size: 16px;
    line-height: 125%;
    width: 120px;
    height: 50px;
  }

  .mobileAuth {
    display: flex;
    flex-direction:row;
    gap: 8px;
    padding: 0 17px;
  }

  .mobileAuthLogin {
    font-size: 16px;
    line-height: 125%;
    border-radius: 30px;
    max-width: 119px;
    width: 100%;
    height: 50px;
  }

  .mobileAuthRegistr {
    font-size: 16px;
    line-height: 125%;
    border-radius: 30px;
    max-width: 149px;
    width: 100%;
    height: 50px;
  }
}

/* ======= for Desktop screen ======= */

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }

  .header {
    padding: 16px 64px 112px;
  }

  .navigation {
    display: flex;
    gap: 110px;
  }

  .listNavigation {
    display: flex;
    gap: 10px;
  }

  .navLink {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: -0.03em;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 30px;
    padding: 14px 19px;
    transition:
      color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .navLink:hover,
  .navLink:focus {
    color: #f6b83d;
    background-color: #fff4df;
  }

  .listAuth {
    display: flex;
    gap: 8px;
  }

  .linkLogin {
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 30px;
    padding: 14px 35px;
    transition:
      color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .linkLogin:hover,
  .linkLogin:focus {
    color: #f6b83d;
    background-color: #fff4df;
  }

  .linkRegistr {
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #f6b83d;
    border-radius: 30px;
    padding: 15px 20px;
    background-color: #fff4df;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .linkRegistr:hover,
  .linkRegistr:focus {
    background-color: #fbe7c1;
  }

  .iconMenu {
    display: none;
  }

  .mobileMenu {
    display: none;
  }

  .menuButton {
    display: none;
  }
}
