.container {
  max-width: 375px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

/* ======= for Tablet screen ======= */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

/* ======= for Desktop screen ======= */

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 64px;
  }
}
