.container {
  max-width: 375px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.contTitleSearchField {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.emptyMessage {
  margin-top: 40px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: #666;
}

.emptyMessage span {
  color: #ff4d4f;
  font-weight: 600;
}

/* ======= for Tablet screen ======= */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }

  .contTitleSearchField {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
}

/* ======= for Desktop screen ======= */

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 64px;
  }
}
