:root {
  --white: #f9f9f9;
  --main: #262626;
}

body {
  color: var(--main);
  background: var(--white);
  font-family: var(--font-family), sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
