.container {
  max-width: 375px;
  width: 100%;
  padding: 0 20px 10px;
  margin: 0 auto;
}

.hero {
  background: var(--orange);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 0 20px 50px;
}

.heroTitle {
  font-weight: 700;
  font-size: 50px;
  line-height: 96%;
  letter-spacing: -0.03em;
  color: #fff;
  max-width: 295px;
  margin-bottom: 24px;
}

.heroTitleCare {
  color: rgba(255, 255, 255, 0.4);
}

.heroText {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #fff;
  max-width: 295px;
}

.imageWrapper {
  width: 100%;
  max-width: 335px;
  margin: 0 auto;
}

.imageHero {
  width: 100%;
  height: auto;
  border-radius: 30px;
  object-fit: cover;
}

/* ======= for Tablet screen ======= */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px 16px;
  }

  .hero {
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    padding: 0 32px 44px;
  }

  .heroTitle {
    font-size: 80px;
    max-width: 640px;
    margin-bottom: 32px;
  }

  .heroText {
    font-size: 18px;
    line-height: 122%;
    width: 255px;
    margin-left: auto;
  }

  .imageWrapper {
    max-width: 704px;
  }

  .imageHero {
    border-radius: 60px;
  }
}

/* ======= for Desktop screen ======= */

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }

  .hero {
    padding: 0 64px 32px;
  }

  .contTitleText {
    display: flex;
    gap: 73px;
    justify-content: space-between;
    align-items: flex-end;
  }

  .heroTitle {
    font-size: 90px;
    line-height: 97%;
    max-width: 760px;
    margin-bottom: 0;
  }

  .heroText {
    margin-left: 0;
  }

  .imageWrapper {
    max-width: 1216px;
  }
}
