.searchContainer {
  position: relative;
}

.input {
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: var(--main);
  border: 1px solid rgba(38, 38, 38, 0.15);
  border-radius: 30px;
  padding: 12px 64px 12px 12px;
  max-width: 335px;
  width: 100%;
  height: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input::placeholder {
  color: rgba(38, 38, 38, 0.5);
}

.input:hover {
  border-color: var(--orange);
}

.input:focus,
.input:active {
  border-color: var(--orange);
  transform: scale(1.005);
  outline: none;
}

.iconButtonSearch {
  position: absolute;
  top: 12px;
  right: 12px;
  border: none;
  background-color: transparent;
}

.iconSearch {
  width: 18px;
  height: 18px;
  fill: var(--main);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.iconSearch:hover,
.iconSearch:focus {
  fill: var(--orange);
}

.iconButtonClear {
  position: absolute;
  top: 12px;
  right: 34px;
  border: none;
  background-color: transparent;
}

.iconCross {
  width: 18px;
  height: 18px;
  fill: var(--main);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.iconCross:hover,
.iconCross:focus {
  fill: #ef2447;
}

/* ======= for Tablet and Desktop screen ======= */

@media screen and (min-width: 768px) {
  .input {
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    padding: 14px 64px 14px 14px;
    max-width: 230px;
    height: 48px;
  }

  .iconButtonSearch {
    position: absolute;
    top: 15px;
    right: 14px;
  }

  .iconButtonClear {
    top: 15px;
    right: 38px;
  }
}
