.searchContainer {
  position: relative;
}

.select :global(.location__control) {
  max-width: 295px;
  width: 100%;
  min-height: 42px;
  border-radius: 30px;
  border: 1px solid transparent;
  cursor: text;
  z-index: 0;
}

.select :global(.location__control:hover) {
  border-color: var(--orange);
}

.select :global(.location__control--is-focused) {
  border-color: var(--orange);
  box-shadow: none;
}

.select :global(.location__value-container) {
  padding-left: 12px;
  padding-right: 64px;
}

.select :global(.location__input-container) {
  padding: 0 0 0 2px;
  margin: 0;
}

.select :global(.location__placeholder) {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: var(--main);
}

.select :global(.location__single-value) {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: var(--main);
  margin: 0;
}

.select :global(.location__menu) {
  border: none;
  box-shadow: 0 8px 24px rgba(0,0,0,0.08);
}

.select :global(.location__menu-list) {
  padding-top: 8px;
}

.select :global(.location__menu) {
  border-radius: 15px;
  overflow: hidden;
}

.select :global(.location__option) {
  padding-top: 4px;
  padding-bottom: 4px;
  margin: 0;
  cursor: pointer;
}

.select :global(.location__option--is-focused) {
  background: #f5f5f5;
}

.select :global(.location__option--is-selected) {
  background: #f5f5f5;
}

.match {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: var(--main);
}

.rest {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: rgba(38, 38, 38, 0.4);
}

.iconButtonSearch {
  position: absolute;
  top: 12px;
  right: 12px;
  border: none;
  background-color: transparent;
}

.iconSearch {
  width: 18px;
  height: 18px;
}

.iconButtonSearchActiv {
  fill: var(--main);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.iconButtonSearchActiv:hover,
.iconButtonSearchActiv:focus {
  cursor: pointer;
  fill: var(--orange);
}

.iconButtonClear {
  position: absolute;
  top: 12px;
  right: 34px;
  border: none;
  background-color: transparent;
}

.iconCross {
  width: 18px;
  height: 18px;
  fill: var(--main);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.iconCross:hover,
.iconCross:focus {
  cursor: pointer;
  fill: #ef2447;
}

/* ======= for Tablet screen ======= */

@media screen and (min-width: 768px) {
  .select :global(.location__control) {
  min-height: 48px;
}

.select :global(.location__value-container) {
  padding-left: 14px;
}

.select :global(.location__placeholder) {
  font-size: 16px;
  line-height: 125%;
}

.select :global(.location__single-value) {
  font-size: 16px;
  line-height: 125%;
}

.match {
  font-size: 16px;
  line-height: 125%;
}

.rest {
  font-size: 16px;
  line-height: 125%;
}
}

/* ======= for Desktop screen ======= */

@media screen and (min-width: 1280px) {

}
